// app/admin/courses/components/EmptyState/EmptyState.module.scss
@use '../../../../../styles/utils/variables' as vars;
@use '../../../../../styles/utils/mixins' as mix;

.emptyState {
    text-align: center;
    color: vars.$text-secondary;

    .emptyIcon {
        width: 4rem;
        height: 4rem;
        margin-bottom: 1rem;
        opacity: 0.5;
    }

    h3 {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
        color: vars.$text-primary;
    }

    p {
        margin-bottom: 2rem;
    }
}
